.scform-ctr {
  max-width: 550px;
}

.sc-period-select__control {
  border-radius: 10px !important;
  font-size: 1em;
  letter-spacing: -0.015em;
  color: var(--dark);
  height: 50px;
}

.sc-period-select__placeholder {
  color: var(--gray) !important;
}

.sc-period-select__indicator-separator {
  display: none;
}
