.ui.active.counties-modal {
  height: auto;
  position: relative;
}

.close-icon {
  scale: 0.5;
  position: absolute;
  right: 0;
}

@media (min-width: 576px) {
  .ui.fullscreen.active.counties-modal {
    width: 60vw !important;
  }
}
